body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 300px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: rgba(11, 75, 11, 0.959);
}

.dateBox {
    display: inline-flex;
}

#thisdate {
    padding-left: 5px;
    margin-top: 16px;
    display: inline-block;
}

footer {
    background-color: black;
    color: white;
}